* {
	margin: 0px;
}

body {
	width: 100%;
	height: 100%;
	background-image: url(imagenes-Planeando/Planeando-Collage500px.jpg);
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: 50%;
  	background-attachment: fixed;
  	font-family: arial;
}

header {
	display: block;
	height: 40px;
}

nav {
	display: inline-block;
	vertical-align: center;
	line-height: 50px;
	float: right;
}

ul {
	text-decoration: none;
}

li {
	display: inline;
}

#secciones {
	display: block;
}

.inscribete {
	width: 910;
	height: 372;
	margin: 0px, auto, 0px, auto;
	padding: 120px, 0px, 190px, 0px;
	text-align: center;
}



.fotos {
	height: 80px;
	border-radius: 50%
}

#logocentral {
	width: 350px;
}
#logointermedio {
	width: 200px;
}
#logofinal {
	width: 120px;
}

footer {
	display: block;
	background-color: #202329;
}
.conocenos {
	width: 100%;
	height: 250px;
	background-color: #FFFFFF;
}
.comparte {
	width: 100%;
	height: 170px;
	background-color: transparent;
}
.demo {
	width: 100%;
	height: 300px;
	background-color: #FFFFFF;
}
.demo .pasos {
	float: left;
	width: 30%;
	margin: 15px;
	text-align: center;
	position: relative;
}